* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





body {

    background-image: url(../img/mine.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;


}

.corpo {

    background-color: rgba(20, 19, 19, 0.548);

}