

element.style {
}
@media screen and (max-width: 910px) {
    html.responsive .home_page_content {
        width: auto;
    }
}
.home_page_content {
    position: relative;
    width: 940px;
    margin: 0 auto;
}
* {
    padding: 0;
    margin: 0;
}
user agent stylesheet
div {
    display: block;
    unicode-bidi: isolate;
}
style attribute {
    --store-menu-overlap-height: 46px;
    --store-menu-floating-height: 0px;
}
@media screen and (max-width: 910px) {
    html.responsive .responsive_page_frame.with_header {
        --global-header-height: 0px;
    }
}
@media screen and (max-width: 910px) {
    html.responsive .responsive_page_frame.with_header {
        --responsive-menu-floating-height: 62px;
    }
}
.responsive_page_frame.with_header {
    --global-header-height: 104px;
}
body.v6.widestore {
    --store-page-width: 1200px;
}
body.v6 {
    --store-page-width: 940px;
}
body.v6 {
    position: relative;
    min-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #c6d4df;
    font-size: 12px;
}
body, body._2LxgdMcpWJRjkxZKbmeEEb {
    color: #969696;
    font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
}
body {
    --store-menu-content-width: max(1100px, var(--store-page-width, 0px));
}
:root:has(._3zHvvIxS4vSW6Qh5GqLflX[data-body-text-color=text-light]), :root [data-body-text-color=text-light] {
    --color-text-body-title: var(--color-text-light-title);
    --color-text-body-subtitle: var(--color-text-light-subtitle);
    --color-text-body-body: var(--color-text-light-body);
    --color-text-body-description: var(--color-text-light-description);
    --color-text-body-note: var(--color-text-light-note);
}
:root:has(._3zHvvIxS4vSW6Qh5GqLflX[data-accent-color=blue]), :root [data-accent-color=blue] {
    --color-accent-1: var(--color-blue-1);
    --color-accent-2: var(--color-blue-2);
    --color-accent-3: var(--color-blue-3);
    --color-accent-4: var(--color-blue-4);
    --color-accent-5: var(--color-blue-5);
    --color-accent-6: var(--color-blue-6);
    --color-accent-7: var(--color-blue-7);
    --color-accent-8: var(--color-blue-8);
    --color-accent-9: var(--color-blue-9);
    --color-accent-10: var(--color-blue-10);
    --color-accent-11: var(--color-blue-11);
    --color-accent-12: var(--color-blue-12);
}
:root:has(._3zHvvIxS4vSW6Qh5GqLflX[data-dull-color=greyneutral]), :root [data-dull-color=greyneutral] {
    --color-dull-1: var(--color-greyneutral-1);
    --color-dull-2: var(--color-greyneutral-2);
    --color-dull-3: var(--color-greyneutral-3);
    --color-dull-4: var(--color-greyneutral-4);
    --color-dull-5: var(--color-greyneutral-5);
    --color-dull-6: var(--color-greyneutral-6);
    --color-dull-7: var(--color-greyneutral-7);
    --color-dull-8: var(--color-greyneutral-8);
    --color-dull-9: var(--color-greyneutral-9);
    --color-dull-10: var(--color-greyneutral-10);
    --color-dull-11: var(--color-greyneutral-11);
    --color-dull-12: var(--color-greyneutral-12);
}
:root {
    --font-family: "Motiva Sans", Twemoji, "Noto Sans", Helvetica, sans-serif;
    --box-shadow-elevation--1: 2px 2px 4px 0px rgba(0, 0, 0, 0.25) inset;
    --box-shadow-elevation-0: none;
    --box-shadow-elevation-1: 2px 2px 4px rgba(0, 0, 0, 0.25);
    --box-shadow-elevation-2: 5px 5px 6px rgba(0, 0, 0, 0.25);
    --spacing-0: 0px;
    --spacing-1: 4px;
    --spacing-2: 8px;
    --spacing-3: 12px;
    --spacing-4: 16px;
    --spacing-5: 24px;
    --spacing-6: 32px;
    --spacing-7: 40px;
    --spacing-8: 48px;
    --spacing-9: 64px;
    --radius-none: 0px;
    --radius-sm: 2px;
    --radius-md: 4px;
    --radius-lg: 8px;
    --radius-full: 9999px;
    --control-height-1: 24px;
    --control-height-2: 36px;
    --control-height-3: 48px;
    --color-greyneutral-1: #060a0e;
    --color-greyneutral-2: #0e141b;
    --color-greyneutral-3: #141a21;
    --color-greyneutral-4: #171d25;
    --color-greyneutral-5: #1d1f23;
    --color-greyneutral-6: #23262e;
    --color-greyneutral-7: #2d323d;
    --color-greyneutral-8: #3d4450;
    --color-greyneutral-9: #48505E;
    --color-greyneutral-10: #67707b;
    --color-greyneutral-11: #8b929a;
    --color-greyneutral-12: #b8bcbf;
    --color-mauve-1: #121113;
    --color-mauve-2: #1a191b;
    --color-mauve-3: #232225;
    --color-mauve-4: #2b292d;
    --color-mauve-5: #323035;
    --color-mauve-6: #3c393f;
    --color-mauve-7: #49474e;
    --color-mauve-8: #625f69;
    --color-mauve-9: #6f6d78;
    --color-mauve-10: #7c7a85;
    --color-mauve-11: #b5b2bc;
    --color-mauve-12: #eeeef0;
    --color-slate-1: #111113;
    --color-slate-2: #18191b;
    --color-slate-3: #212225;
Show all properties (423 more)
}
:root {
    --indent-level: 0;
    --field-negative-horizontal-margin: 0px;
    --field-row-children-spacing: 0px;
}
:root {
    --gpSystemLightestGrey: #DCDEDF;
    --gpSystemLighterGrey: #B8BCBF;
    --gpSystemLightGrey: #8B929A;
    --gpSystemGrey: #67707B;
    --gpSystemDarkGrey: #3D4450;
    --gpSystemDarkerGrey: #23262E;
    --gpSystemDarkestGrey: #0E141B;
    --gpStoreLightestGrey: #CCD8E3;
    --gpStoreLighterGrey: #A7BACC;
    --gpStoreLightGrey: #7C8EA3;
    --gpStoreGrey: #4e697d;
    --gpStoreDarkGrey: #2A475E;
    --gpStoreDarkerGrey: #1B2838;
    --gpStoreDarkestGrey: #000F18;
    --gpGradient-StoreBackground: linear-gradient(180deg, var(--gpStoreDarkGrey) 0%, var(--gpStoreDarkerGrey) 80%);
    --gpGradient-LibraryBackground: radial-gradient(farthest-corner at 40px 40px, #3D4450 0%, #23262E 80%);
    --gpColor-Blue: #1A9FFF;
    --gpColor-BlueHi: #00BBFF;
    --gpColor-Green: #5ba32b;
    --gpColor-GreenHi: #59BF40;
    --gpColor-Orange: #E35E1C;
    --gpColor-Red: #D94126;
    --gpColor-RedHi: #EE563B;
    --gpColor-DustyBlue: #417a9b;
    --gpColor-LightBlue: #B3DFFF;
    --gpColor-Yellow: #FFC82C;
    --gpColor-ChalkyBlue: #66C0F4;
    --gpBackground-LightSofter: #6998bb24;
    --gpBackground-LightSoft: #3b5a7280;
    --gpBackground-LightMedium: #678BA670;
    --gpBackground-LightHard: #93B8D480;
    --gpBackground-LightHarder: #aacce6a6;
    --gpBackground-DarkSofter: #0e141b33;
    --gpBackground-DarkSoft: #0e141b66;
    --gpBackground-DarkMedium: #0e141b99;
    --gpBackground-DarkHard: #0e141bcc;
    --gpBackground-Neutral-LightSofter: rgba(235, 246, 255, 0.10);
    --gpBackground-Neutral-LightSoft: rgba(235, 246, 255, 0.20);
    --gpBackground-Neutral-LightMedium: rgba(235, 246, 255, 0.30);
    --gpBackground-Neutral-LightHard: rgba(235, 246, 255, 0.40);
    --gpBackground-Neutral-LightHarder: rgba(235, 246, 255, 0.50);
    --gpCorner-Small: 1px;
    --gpCorner-Medium: 2px;
    --gpCorner-Large: 3px;
    --gpSpace-Gutter: 24px;
    --gpSpace-Gap: 12px;
    --gpNavWidth: 240px;
    --gpPaymentsNavWidth: 340px;
    --gpDselectWidth: 340px;
    --gpSidePanelWidth: 340px;
Show all properties (23 more)
}
::-webkit-scrollbar {
    height: 12px;
    width: 14px;
    background: transparent;
    z-index: 12;
    overflow: visible;
}
::-webkit-scrollbar-corner {
    background: #202020;
}
::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: #434953;
    border-radius: 10px;
    z-index: 12;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    transition: background-color .32s ease-in-out;
    margin: 4px;
    min-height: 32px;
    min-width: 32px;
}
::selection {
    background: #54a5d4;
    text-shadow: 1px 1px 2px #000000aa;
    color: #fff;
}
::selection {
    background: #54a5d4;
    text-shadow: 1px 1px 2px #000000aa;
    color: #fff;
}
::selection {
    background: #54a5d4;
    text-shadow: 1px 1px 2px #000000aa;
    color: #fff;
}
::selection {
    background: #54a5d4;
    text-shadow: 1px 1px 2px #000000aa;
    color: #fff;
}
::selection {
    background: #54a5d4;
    text-shadow: 1px 1px 2px #000000aa;
    color: #fff;
}
::selection {
    background: #54a5d4;
    text-shadow: 1px 1px 2px #000000aa;
    color: #fff;
}
::selection {
    background: #54a5d4;
    text-shadow: 1px 1px 2px #000000aa;
    color: #fff;
}
::selection {
    background: #54a5d4;
    text-shadow: 1px 1px 2px #000000aa;
    color: #fff;
}
::selection {
    background: #54a5d4;
    text-shadow: 1px 1px 2px #000000aa;
    color: #fff;
}