* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(102, 255, 0);

}

.caixa1 {

    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: relative;
    transform: translateY(100%);

}

h1 {

    font-size: 50px;
    font-weight: bold;

}

p {

    font-size: 30px;
    margin-top: 10px;

}

button {

   
    font-size: 18px;
    height: 50px;
    width: 150px;
    border-radius: 50px;
    border: none;
    background-color: rgb(12, 107, 75);
    margin-top: 20px;
    cursor: pointer;

}

button:hover {

    transform: scale(0.98);
}

button:active {

    opacity: 0.7;

}



#segundos #dezenas {

font-size: 2em;

}