/*projeto devclub*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600;700&display=swap');


* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;

}

body {

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(90deg, rgb(148, 17, 89), rgb(9, 0, 128));

}

.caixa-grande {

    width: 400px;
    background: #3b024154;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);

}

.caixa-grande header {

    display: flex;
    position: relative;
    align-items: center;
    height: 70px;
    border: 1px solid #ccc;
    border-radius: 40px;

}

header label {

    height: 100%;
    width: 30%;
    z-index: 2;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    cursor: pointer;
    transition: all 0.3s ease;

}



#tab-1:checked~header .tab-1,
#tab-2:checked~header .tab-2,
#tab-3:checked~header .tab-3 {

    color: #fff;

}

header label:nth-child(2) {

    width: 40%;

}

header .deslizar {

    position: absolute;
    height: 85%;
    border-radius: inherit;
    background: linear-gradient(145deg, #6310a7, #750462);
    border-radius: inherit;
    transition: all 0.3s ease;

}

#tab-1:checked~header .deslizar {

    left: 0%;
    width: 90px;
    transform: translateX(5%);

}

#tab-2:checked~header .deslizar {

    left: 50%;
    width: 120px;
    transform: translateX(-50%);

}

#tab-3:checked~header .deslizar {

    left: 100%;
    width: 95px;
    transform: translateX(-105%);

}

.caixa-grande input[type="radio"] {

    display: none;

}

.cartões-area {

    overflow: hidden;

}

.cartões-area .cartões {

    width: 300%;
    display: flex;

}

.cartões .linha {

    width: 33.40%;

}

.cartões .linha-1 {

    transition: all 0.3s ease;

}

#tab-1:checked~.cartões-area .cartões .linha-1 {

    margin-left: 0%;

}

#tab-2:checked~.cartões-area .cartões .linha-1 {

    margin-left: -33.4%;

}

#tab-3:checked~.cartões-area .cartões .linha-1 {

    margin-left: -66.8%;

}

.linha .detalhes-do-preço {

    margin: 20px 0;
    text-align: center;
    padding-bottom: 25px;
    border-bottom: 1px solid #e6e6e6;

}

.detalhes-do-preço span {

font-size: 65px;
font-weight: 600;
position: relative;
font-family: 'noto sans', sans-serif;

}

.detalhes-do-preço span::before,
.detalhes-do-preço span::after {

position: absolute;
font-weight: 400;
font-family: 'poppins', sans-serif;

}

.detalhes-do-preço span::before {

content: "R$";
font-size: 20px;
left: -27px;
top: 17px;

}

.detalhes-do-preço span::after {

content: "/mês";
font-size: 13px;
right: -33px;
bottom: 17px;

}

.detalhes-do-preço p {

font-size: 18px;
margin-top: 5px;

}

.linha .características li {

    font-size: 15px;
    margin-bottom: 10px;
    list-style: none;

}

.características li i {

color: #1d53b8;

}

.características li span {

margin-left: 10px;

}

.caixa-grande button {

margin-top: 20px;
height: 55px;
width: 100%;
border-radius: 50px;
background: linear-gradient(145deg, #6310a7, #910f7b);
border: none;
cursor: pointer;
font-size: 18px;
transition: transform 0.3s ease;

}

button:hover {

transform: scale(0.98);

}

button:active {

opacity: 0.7;

}