/*algumas estruturas de css*/



/*sobre textos*/

/* 
color:
font-size:
font-family:
font-weight:
font-style:
text-shadow:
text-align:
text-decoration:
text-transform:
text-indent:
text-overflow:
text-justify:
line-height:
letter-spacing:
word-spacing:
*/

/*margin e padding*/

/*
margin: espaçamento externo
padding: expandir de dentro pra fora

top: em cima
right: lado direito
bottom: em baixo
left: lado esquerdo

...todos na mesma linha...
...apenas tres...
...apenas dois...








*/