* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(170, 219, 213);




}

.dad {

    display: flex;



}

.son2 {

    background-color: rgba(161, 195, 206, 0.514);
    height: 690px;
    width: 930px;


}

.son1 {

    display: flex;



}



.cell {

    height: 500px;
    width: 400px;
    position: relative;
    left: 100px;
    top: 150px;
    background-color: transparent;





}

.link {

    margin-left: 30px;
    font-family: oswald;
    font-size: 20px;
    background-color: transparent;
    cursor: pointer;




}

.link:nth-child(2) {

    color: rgb(25, 129, 129);
}

h1 {

    font-size: 60px;
}

.texto {

    margin-top: 230px;
    margin-left: 50px;
    margin-right: 30px;
    font-family: oswald;
    font-size: 20px;

}

p {

    opacity: 0.6;
}

button {

    background-color: blue;
    border-radius: 30px;
    height: 62px;
    width: 269px;
    margin-top: 30px;
    align-items: center;
    filter: drop-shadow(0px 6px 6px rgb(1, 1, 39));
    border: none;
    font-size: 20px;
    font-family: oswald;
    cursor: pointer
}

button:hover {

    opacity: 0.8;
}

button:active {

    opacity: .5;

}


@media screen and (max-width: 900px) {

    .dad {

        display: flex;
        flex-direction: column;

    }

    .son1 {
        padding: 0%;
        margin: 0%;
        display: block;
        width: 100%;
        height: 50%;


    }

    .son2 {

        display: grid;
        height: auto;
        width: 100%;
        position: static;
        background-color: rgb(61, 19, 139);
        grid-template-rows: 1fr auto;
        min-height: 500px;




    }

    .link {

        font-size: 0%;
    }



    .cell {
        position: static;
        margin: 0%;
        padding: 0%;
        display: block;
        width: 90%;
    }

    h1 {

        padding: 0%;
        font-size: 35px;
        font-weight: 52px;
        width: auto;
        margin: 10px 50px 0 50px;
        text-align: center;

    }

    p {

        padding: 0%;
        text-align: center;
        width: auto;
        font-size: 20px;
        font-weight: 30px;
        margin: 30px auto;
    }

    button {
        align-content: center;
        margin: 30px auto;
        display: block;


    }




}





























}